.interfaceg img {
  width : 150px;
}
.interfacep img {
  width : 150px;
}
.imagescan {
  width : 120px;
}
.imagessub{
  width: 50px;
}
.imageslod{
  width:150px;
  height: 150px;
  transition: transform ease-in-out 0.3s;
}
.imageslod:hover{
  transform: scale(3);
}
.imageko{
  margin-bottom: 140px;
}
.productseller{
  background: #f0e9e6;
}
h1 {
  text-align: center;
  color: white;
}
.header {
  background-color: #dc3545;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.container img{
  width : 150px;
}
.note {
  float: left;
  width: 150px;
}
ul {
  list-style: none;
}
ul li{
  margin-top: 15px;
}
.wrapper{
  display:flex;
  overflow-x: auto;
}
.wrapper ::-webkit-scrollbar{
  width:0px;
}
.wrapper .note{
  min-width:170px;
  height:500px;


}
* {
  font-family: sans-serif; /* Change your font family */
}

.added {
  visibility: hidden;
}

.merotable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.merotable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.merotable th,
.merotable td {
  padding: 12px 15px;
}

.merotable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.merotable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.merotable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.merotable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
#interfacef {
  margin-top: 50px;
}
