.interfaceg img {
  width : 150px;
}
.interfacep img {
  width : 150px;
}
.imagescan {
  width : 120px;
}
.imagessub{
  width: 50px;
}
.productseller{
  background: #f0e9e6;
}
h1 {
  text-align: center;
  color: white;
}
.header {
  background-color: #dc3545;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.container img{
  width : 150px;
}
.note {
  float: left;
  width: 150px;
}
ul {
  list-style: none;
}
ul li{
  margin-top: 15px;
}
.interfacef{
  display:flex;
  overflow-x: auto;
}
.interfacef ::-webkit-scrollbar{
  width:0px;
}
.interfacef .note{
  min-width:170px;
  height:500px;


}
